@forward "globals";

* {
  // border: 2px solid red;
}
header {
  max-width: 1100px;
  margin: auto;
  padding-top: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.hidden {
  display: none;
}
//nav-left
.nav-left img {
  width: 17%;
}
.nav-left {
  display: flex;
  width: 50%;
  align-items: center;
}
.nav-left button {
  margin-left: 10px;
  border: none;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.nav-middle {
  width: 100%;
  transform: translateY(28%);
  display: flex;
}
.nav-middle a {
  padding-left: 19px;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.mobile-view-nav {
  display: flex;
}
.mobile-view-nav a {
  padding-left: 30px;
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 16px;
}

//nav-right

.nav-right {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}
.nav-right p {
  vertical-align: middle;
}
.nav-right button {
  width: 100%;
}
.nav-right-login {
  background-color: white;
  font-family: "Inter", sans-serif;
  border: none;
  background-color: white;
}
.nav-btn-styled {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: rgba(126, 58, 242, 1);
  color: white;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

//HERO SECTION
.hero {
  width: 100%;
  display: flex;
  margin-top: 50px;
  // align-items: center;
}
.hero-left {
  width: 60%;
}
.hero-left h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 60px;
  margin-top: 45px;
  margin-bottom: 15px;
}
.hero-left p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgba(107, 114, 128, 1);
  margin-bottom: 17px;
}
.hamburger,
.closehamburger {
  display: none;
}
.hero-right {
  width: 40%;
}
.hero-right img {
  width: 100%;
}
.nav-btn-diff-styled {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid rgba(229, 231, 235, 1);
}
.images {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}
.images img {
  width: 10%;
  object-fit: contain;
}

/// MAIN ONE
.main-one-bg {
  background-color: rgba(249, 250, 251, 1);
  padding-bottom: 50px;
}
.main-one {
  max-width: 1100px;
  margin: 80px auto;
  padding-top: 60px;
  display: flex;
  width: 100%;
  gap: 40px;
}

.main-one h2 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 36px;
  padding-top: 20px;
  margin-bottom: 15px;
}
.main-one-text-1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: rgba(107, 114, 128, 1);
}
.main-one-text-2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: rgba(107, 114, 128, 1);
  margin-top: 10px;
}
.main-one-check {
  display: flex;
  width: 100%;
}
.main-one-check p {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  top: 40%;
  padding-left: 5px;
  transform: translateY(50%);
}
.main-one-check img {
  object-fit: contain;
}
.line {
  border: 1px solid rgb(215, 215, 215);
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  padding-top: 10px;
}
.main-one-left {
  width: 55%;
}
.main-one-right {
  width: 45%;
}

.main-one-right img {
  width: 100%;
}

//MAIN TWO

.main-two {
  display: flex;
  max-width: 1100px;
  gap: 10px;
  margin: auto;
}
.main-two h3 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 15px;
}

.main-one-text-3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(107, 114, 128, 1);
  margin-top: 10px;
}
.main-one-text-3 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.main-one h3 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 28px;
  padding-top: 20px;
  margin-bottom: 15px;
}
.main-one-check-2 {
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.main-one-check-2 p {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 600;
  top: 40%;
  padding-left: 5px;
  transform: translateY(50%);
}
.line-2 {
  border: 1px solid rgb(215, 215, 215);
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  margin-top: 20px;
  padding-top: 10px;
}
.main-two-img {
  width: 50%;
}
.main-two-img img {
  width: 90%;
}
.main-two-main {
  width: 50%;
}

//MAIN THREE
.main-three-content {
  max-width: 1100px;
  margin: 80px auto;
  display: flex;
  width: 100%;
  gap: 40px;
}
.main-three-right-top {
  display: flex;
  justify-content: space-between;
  // border: 2px solid red;
}
.right-top-img {
  padding-top: 14px;
}
.main-three-right-bottom {
  display: flex;
  justify-content: space-between;
}

.main-three-right-box {
  width: 100%;
}

.main-three-left {
  width: 52%;
}
.main-three-right {
  width: 48%;
}
.main-three-left h3 {
  color: rgba(126, 58, 242, 1);
  font-weight: 100;
  font-size: 14px;
}
.main-three-left h2 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 36px;
}
.main-three-left h4 {
  color: rgba(107, 114, 128, 1);
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 20px;
}
.main-three-left p {
  color: rgba(126, 58, 242, 1);
  font-size: 16px;
  font-weight: 500;
}
.main-three-right-box p {
  color: rgba(107, 114, 128, 1);
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 14px;
  // border: 2px solid red;
}
.main-three-right-box h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0px;
}
///MAIN FOUR
.main-three-bg {
  background-color: rgba(249, 250, 251, 1);
}
.main-four {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
  padding-top: 50px;
}
.main-four h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 39px;
  margin-top: 12px;
}
.main-four-sub {
  display: flex;
  justify-content: center;
}
.main-four-sub p {
  padding-left: 10px;
}
.dash {
  color: black;
  font-weight: bolder;
}
.CEO {
  color: rgba(107, 114, 128, 1);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
/// MAIN FIVE
.main-five {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
.card-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 900px;
  margin: auto;
  width: 100%;
  // border: 2px solid green;
}
.plan-month {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.plan-tick {
  padding-right: 10px;
}
.plan-num {
  font-weight: bold;
}
.card {
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  box-shadow: 0px 0px 5px 2px rgba(229, 231, 235, 1);
}
.card p {
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -6px;
}
.card h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
}
.card h4 {
  color: rgba(107, 114, 128, 1);
  font-size: 18px;
  font-weight: 400px;
  font-family: "Inter", sans-serif;
}
.card h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}
.card h5 {
  font-family: "Inter", sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.nav-btn-styled-new {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: rgba(126, 58, 242, 1);
  color: white;
  padding: 8px 80px;
  border-radius: 5px;
  border: none;
}
.main-five h6 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 20px;
}
.main-five h5 {
  color: rgba(107, 114, 128, 1);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  max-width: 700px;
  margin: auto;
  padding-bottom: 40px;
}
///MAIN SIX
.main-six {
  max-width: 500px;
  margin: auto;
  text-align: center;
  margin-top: 70px;
}
.faq {
  display: flex;
  justify-content: space-between;
  // width: 100%;
  // border: 1px solid black;
  // border-top: 0px;
  // border-left: 0px;
  // border-right: 0px;
  // padding-top: 15px;
  border: 2px solid red;
}
.faq-test p {
  text-align: left;
  border: 2px solid blue;
}
.faq img {
  width: 2%;
  object-fit: contain;
}
.faq p {
  transform: translateY(50%);
}
/// MAIN SEVEN
.main-seven {
  background-color: rgba(249, 250, 251, 1);
  margin-top: 60px;
  padding: 50px;
}
.main-seven-sub {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.main-seven-sub h2 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 36px;
}
.main-seven-sub p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgba(107, 114, 128, 1);
}
.nav-btn-styled-final {
  background-color: rgba(126, 58, 242, 1);
  border: none;
  padding: 10px 30px;
  color: white;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
}
.main-eight {
  max-width: 1100px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}
.main-eight h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.main-eight p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
///MAIN NINE
.main-nine {
  width: 100%;
  // width: 900px;
  margin: auto;
}

.main-nine-one {
  display: flex;
  max-width: 150px;
  margin: auto;
}
.footer-logo-text {
  border: none;
  background-color: white;
  font-family: "Inter", sans-serif;
}
.final-text {
  text-align: center;
  padding-top: 10px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}
.footer-img {
  max-width: 150px;
  margin: 10px auto;
}
.footer-img img {
  padding-left: 10px;
  width: 20%;
}
.initial {
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

///MENU

///MOBILE VIEW
@media only screen and (max-width: 576px) {
  main {
    // max-width: 315px;
    // margin: auto;
  }
  .navbar {
    position: relative;
    // border: 2px solid purple;
    width: 100%;
  }
  .hamburger {
    display: block;
  }
  .closehamburger {
    display: hidden;
  }
  .nav-middle {
    position: absolute;
    left: -100%;
    // top: 50px;
    gap: 0;
    width: 100%;
    text-align: center;
    transition: 0.6s;
    background-color: white;
    height: 45vh;
    line-height: 25px;
    flex-direction: column;
    padding-top: 10px;
  }
  .nav-middle a {
    padding-top: 13px;
  }
  .nav-middle a:hover {
    color: rgba(126, 58, 242, 1);
  }

  .nav-middle.active {
    left: 0;
  }

  .nav-right {
    position: fixed;
    left: -100%;
  }
  .nav-left {
    padding-left: 20px;
  }

  .hamburger {
    padding-right: 20px;
  }

  .line {
    text-align: center;
  }
  .hero {
    flex-direction: column;
    margin-top: -14px;
  }

  .hero-right {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .hero-left {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .hero-left h1 {
    text-align: center;
    font-size: 20px;
    // border: 2px solid red;
  }

  .hero-left p {
    font-size: 14px;
    text-align: center;
  }
  .hero-buttons {
    text-align: center;
  }
  .images {
    padding-left: 30px;
    padding-right: 30px;
  }
  .main-one {
    flex-direction: column;
    margin-top: -7px;
    padding-left: 30px;
    padding-right: 30px;
  }
  // .main-one-check-2 {
  //   width: 30%;
  // }
  // .main-one-check-2 img {
  //   width: 9%;
  // }
  .main-one-left,
  .main-one-right {
    width: 100%;
    text-align: center;
  }

  .main-one-left h2 {
    padding-top: 0px;
  }
  .main-one-text-1,
  .main-one-text-2,
  .main-one-text-3 {
    font-size: 13px;
    padding-top: 10px;
  }
  .line,
  .main-three-left h3 {
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
  }

  ///MAIN TWO
  .main-two {
    flex-direction: column-reverse;
    padding-left: 30px;
    padding-right: 30px;
  }
  .main-two-main {
    width: 100%;
    padding-top: 25px;
  }
  .main-two-main h3 {
    text-align: center;
  }
  .main-two-main p {
    text-align: center;
    font-size: 13px;
  }
  .line-2 {
    padding-left: 20px;
    // border: 2px solid red;
  }
  .main-two-img {
    width: 100%;
    padding-top: 30px;
  }
  .main-two-img img {
    width: 100%;
  }
  ///MAIN THREE
  .main-three-content {
    flex-direction: column;
    margin-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    // border: 2px solid red;
  }
  .main-three-left {
    width: 100%;
  }
  .main-three-right {
    width: 100%;
  }

  .main-three-right-bottom {
    padding-top: 20px;
  }
  .main-three-right-top {
    // border: 2px solid red;
  }
  .main-three-left h2 {
    text-align: center;
    font-size: 25px;
  }
  .main-three-left h4 {
    font-size: 14px;
    text-align: center;
  }
  .main-three-right-box h3 {
    font-size: 20px;
  }
  .main-three-right-box p {
    font-size: 9px;
  }
  ///MAIN FOUR
  .main-four {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-four h3 {
    font-size: 15px;
    line-height: 28px;
  }
  ///MAIN FIVE
  .main-five {
    // margin-top: 30px;
    // padding-left: 30px;
    // padding-right: 30px;
  }
  .main-five h6 {
    font-size: 27px;
  }
  .main-five h5 {
    font-size: 15px;
  }
  .card-container {
    flex-direction: column;
  }
  .card {
    border: 2px solid red;
    padding: 40px 30px;
  }
  .card h2 {
    font-size: 24px;
  }
  .card h3 {
    font-size: 19px;
  }
  .card h4 {
    font-size: 15px;
  }
  .plan-month {
    font-size: 10px;
  }
  ///MAIN SIX
  .main-six {
    // margin-top: 55px;
    max-width: 340px;
    margin: 55px auto;
  }
  .faq img {
    width: 5%;
  }
  ///MAIN SEVEN
  .main-seven-sub {
    width: 100%;
    padding-top: 0px;
    max-width: 340px;
    margin: auto;
  }
  .main-seven-sub h2 {
    font-size: 23px;
  }
  .main-seven-sub p {
    font-size: 15px;
  }
  ///MAIN EIGHT
  .main-eight {
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
    max-width: 340px;
    margin: 30px auto;
  }
}

// TABLET SCREEN
@media only screen and (max-width: 768px) {
  // .mobile-view-nav,
  // .nav-right {
  //   display: none;
  // }
  .navbar {
    position: relative;
    // border: 2px solid purple;
    width: 100%;
  }

  .nav-left {
    padding-left: 40px;
  }

  .nav-middle {
    position: absolute;
    left: -100%;
    // top: 50px;
    gap: 0;
    width: 100%;
    text-align: center;
    transition: 0.6s;
    background-color: white;
    height: 35vh;
    line-height: 25px;
    flex-direction: column;
    padding-top: 10px;
    // border: 2px solid blue;
  }
  .nav-middle a {
    padding-top: 13px;
  }
  .hamburger {
    display: block;
    padding-right: 30px;
  }

  .nav-middle.active {
    left: 0;
  }
  .nav-right {
    display: none;
  }
  .hero {
    flex-direction: column;
    margin-top: -14px;
    max-width: 590px;
    margin: auto;
  }
  .images {
    max-width: 590px;
    margin: auto;
  }
  .hero-left {
    width: 100%;
  }
  .hero-right {
    width: 100%;
  }
  .hero-right img {
    width: 100%;
  }
  .hero-left h1 {
    text-align: center;
    font-size: 30px;
  }

  .hero-left p {
    font-size: 14px;
    text-align: center;
  }
  .hero-buttons {
    text-align: center;
  }

  .main-one {
    flex-direction: column;
    margin-top: -7px;
    max-width: 590px;
    margin: auto;
  }
  // .main-one-check-2 {
  //   // width: 90%;
  // }
  // .main-one-check-2 img {
  //   width: 10%;
  // }
  .main-one-left,
  .main-one-right {
    width: 100%;
    text-align: center;
  }

  .main-one-left h2 {
    padding-top: 0px;
    font-size: 30px;
  }
  .main-one-text-1,
  .main-one-text-2,
  .main-one-text-3 {
    font-size: 13px;
    // padding-top: 10px;
    max-width: 500px;
    margin: auto;
  }
  .line,
  .main-three-left h3 {
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
  }
  .main-one-right img {
    width: 80%;
  }

  ///MAIN TWO
  .main-two {
    flex-direction: column-reverse;
    max-width: 590px;
    margin: auto;
    width: 100%;
    // border: 2px solid red;
  }
  .main-two-main {
    width: 100%;
    padding-top: 25px;
  }
  .main-two-main h3 {
    text-align: center;
    font-size: 30px;
  }
  .main-two-main p {
    text-align: center;
    font-size: 13px;
  }
  .line-2 {
    max-width: 300px;
    margin: auto;
  }

  .main-two-img {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    text-align: center;
  }
  .main-two-img img {
    align-self: center;
    margin: 0 auto;
    width: 80%;
  }
  ///MAIN THREE

  .main-three {
    margin-top: 30px;
  }
  .main-three-content {
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 600px;
    margin: auto;
    border: 2px solid red;
  }
  .main-three-left {
    width: 100%;
  }
  .main-three-right {
    width: 100%;
  }
  .main-three-right-top,
  .main-three-right-bottom {
    gap: 20px;
    max-width: 550px;
    margin: auto;
    padding-left: 50px;
  }
  .main-three-left h2 {
    text-align: center;
    font-size: 25px;
    max-width: 400px;
    margin: auto;
    padding-bottom: 10px;
  }
  .main-three-left h4 {
    font-size: 14px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding-bottom: 20px;
  }

  .main-three-right-box h3 {
    font-size: 20px;
    max-width: 300px;
    margin: auto;
  }
  .main-three-right-box p {
    font-size: 12px;
    max-width: 300px;
    margin: auto;
  }
  ///MAIN FOUR
  .main-four {
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 340px;
    margin: auto;
  }
  .main-four h3 {
    font-size: 18px;
    line-height: 28px;
  }
  ///MAIN FIVE
  .main-five {
    // margin-top: 30px;
    max-width: 340px;
    margin: auto;
  }
  .main-five h6 {
    font-size: 27px;
  }
  .main-five h5 {
    font-size: 15px;
  }
  .card-container {
    flex-direction: column;
  }
  .card {
    padding: 30px 70px;
  }
  .card h2 {
    font-size: 24px;
  }
  .card h3 {
    font-size: 19px;
  }
  .card h4 {
    font-size: 15px;
  }
  .plan-month {
    font-size: 10px;
  }
  ///MAIN SIX
  .main-six {
    // margin-top: 55px;
    max-width: 340px;
    margin: 55px auto;
  }
  .faq img {
    width: 5%;
  }
  ///MAIN SEVEN
  .main-seven-sub {
    width: 100%;
    padding-top: 0px;
    max-width: 340px;
    margin: auto;
  }
  .main-seven-sub h2 {
    font-size: 23px;
  }
  .main-seven-sub p {
    font-size: 15px;
  }
  ///MAIN EIGHT
  .main-eight {
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
    max-width: 340px;
    margin: 30px auto;
  }
}
